#feed.no-posts {
    height: 100%;
}

.spider-box {
    margin-top: 20px;
    height: 80%;
    display: flex;
    border: 1px solid var(--reddit-grey);
    position: relative;
}

.spider-img {
    height: 60%;
    width: 40%;
}

.spider-box .feed-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}