#modal {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    background-color: rgb(0, 0, 0, 0.7);
    cursor: pointer;
}

#modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    max-width: 800px;
    background-color: white;
    cursor: default;
    border-radius: 10px;
    border: 1px solid black;
}

#close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    font-size: 30px;
    cursor: pointer;
}