
.post {
  display: flex;
  overflow: hidden;
  margin-top: 20px;
  background-color: white;
  border: 1px solid var(--reddit-grey);
}

.post .vote {
  width: 35px;
  background-color: var(--reddit-light-grey);
}

.post .content {
  padding: 10px;
}

.post-title {
  padding-bottom: 10px;
  margin: 0;
}

.post-info {
  font-size: 11px;
  color: #999;
}

.post-info p {
  display: inline;
}

.post-author {
  color: var(--reddit-blue);
}

.post-author:hover {
  color: var(--reddit-blue-lighter);
  cursor: pointer;
}

.post-text {
  font-size: 14px;
}