
.post {
  display: flex;
  overflow: visible;
  margin-top: 20px;
  background-color: white;
  border: 1px solid var(--reddit-grey);
  border-radius: 10px;
}

#open-post {
  margin-top: 0px;
  width: 800px;
  border: none;
}

.post-clickable:hover {
  cursor: pointer;
  border-color: #555;
}

.post .vote {
  width: 6%;
  background-color: var(--reddit-light-grey);
  border-radius: 10px 0 0 10px;
}

.post .content {
  box-sizing: border-box;
  width: 94%;
  padding: 10px;
}

#open-post .content {
  overflow-y: auto;
}

.post-title {
  font-size: 20px;
  margin: 0;
}

.post-info {
  margin-bottom: 10px;
  font-size: 12px;
  color: #999;
}

.post-info p {
  display: inline;
}

.post-info .time-lapsed {
  position: relative;
}

.post-subseddit:hover, .author:hover, .time-lapsed:hover, .edit-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.post-subseddit {
  color: var(--alt-text-color);
  font-weight: bold;
}

.post-subseddit:hover {
  color: #aaa;
}

.author {
  color: var(--reddit-blue);
}

.author:hover {
  color: var(--reddit-blue-lighter);
}

.edit-link {
  color: var(--reddit-blue);
}

.edit-link:hover {
  color: var(--reddit-blue-lighter);
}

.time-lapsed {
  text-decoration: underline dotted;
}

.time-lapsed:hover {
  color: #ccc;
}

.post-text {
  font-size: 16px;
  overflow-wrap: break-word;
}

.tool-tip {
  position: absolute;
  top: -5px;
  left: 105%;
  z-index: 1;
  width: max-content;
  display: flex;
}

.time-info {
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.arrow-left {
  height: 0;
  width: 0;
  margin: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid black;
  border-bottom: 5px solid transparent;
}

.tool-tip .arrow-left {
  margin-top: 7px;
}

.thumbnail {
  height: 100px;
  width: 100px;
}

.post-image {
  max-width: 90%;
  display: block;
  margin: 0 auto;;
}

.comment-button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
  margin: 20px 0;
}

.comment-icon {
  padding: 5px;
}

.comment-icon .comment-icon-box {
  height: 10px;
  width: 16px;
  border-radius: 3px;
  background-color: #555;
}

.comment-button p {
  display: inline;
  font-size: 12px;
  color: #555;
  font-weight: bold;
  margin: 0;
  padding-right: 5px;
}

.arrow-down {
  height: 0;
  width: 0;
  margin: auto;
  border-top: 5px solid #555;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.comment-button .arrow-down {
  border-width: 3px;
}

.voter {
  padding: 5px 5px 5px 5px;
}

.upvote-icon {
  width: max-content;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
}

.upvote-icon .upvote-icon-box {
  height: 12px;
  width: 6px;
  margin: 0 auto;
  border-radius: 0 0 3px 3px;
  background-color: #555;
}

.upvote-icon.upvoted .upvote-icon-box {
  background-color: var(--reddit-orange);
}

.upvote-icon .arrow-up {
  height: 0;
  width: 0;
  margin: 0 auto;
  border-bottom: 10px solid #555;
  border-left:  10px solid transparent;
  border-right: 10px solid transparent;
}

.upvote-icon.upvoted .arrow-up {
  border-bottom-color: var(--reddit-orange);
}

.upvote-icon.hover-enabled:hover {
  background-color: var(--reddit-light-grey);
  cursor: pointer;
}

.voter p {
  width: 100%;
  display: block;
  font-size: 14px;
  color: #555;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

#loading-placeholder {
  height: 30px;
}

#posts-depleted-placeholder {
  margin: auto;
}

.switch-posts {
  margin-right: 10px;
}

#to-top-button {
  position: fixed;
  bottom: 20px;
  min-width: 109px;
}

#comment-section {
  margin-bottom: 20px;
}

.comment-text {
  width: available;
  margin-left: 10px;
  border-left: 1px solid #555;
  padding-left: 10px;
  font-size: 14px;
}

.space-bottom {
  height: 30px;
}

#upvoters {
  display: flex;
  width: 100%;
}

#upvoters p {
  font-size: 12px;
}

.upvoters-list {
  display: flex;
  overflow-x: auto;
}

.upvoters-list .author {
  margin-left: 5px;
}

#open-post .comment-button {
  margin-top: 0;
}

.upvoters-label {
  color: #999;
}

#comment-box {
  position: relative;
  width: 717px;
}

#comment-box .text-input {
  display: block;
  width: 100%;
}

#comment-box textarea {
  margin-bottom: 5px;
  width: 690px;
  height: 50px;
  resize: none;
  text-align: left;
}

#comment-box #submit-button {
  position: absolute;
  width: max-content;
  left: 100%;
  bottom: -35px;
  transform: translateX(-100%);
  margin: 0;
}

#comment-box .error {
  bottom: none;
  top: -8px;
}