
.post {
  display: flex;
  overflow: visible;
  margin-top: 20px;
  background-color: white;
  border: 1px solid var(--reddit-grey);
  border-radius: 10px;
}

.post .vote {
  width: 6%;
  background-color: var(--reddit-light-grey);
  border-radius: 10px 0 0 10px;
}

.post .content {
  width: available;
  padding: 10px;
}

.post-title {
  font-size: 20px;
  margin: 0;
}

.post-info {
  margin-bottom: 10px;
  font-size: 12px;
  color: #999;
}

.post-info p {
  display: inline;
}

.post-info .time-lapsed {
  position: relative;
}

.post-subseddit:hover, .post-author:hover, .time-lapsed:hover {
  cursor: pointer;
  text-decoration: underline;
}

.post-subseddit {
  color: var(--alt-text-color);
  font-weight: bold;
}

.post-subseddit:hover {
  color: #aaa;
}

.post-author {
  color: var(--reddit-blue);
}

.post-author:hover {
  color: var(--reddit-blue-lighter);
}

.time-lapsed {
  text-decoration: underline dotted;
}

.time-lapsed:hover {
  color: #ccc;
}

.post-text {
  font-size: 16px;
}

.tool-tip {
  position: absolute;
  top: -30px;
  left: 80%;
  z-index: 1;
  width: max-content;
  transform: translateX(-50%);
  
}

.time-info {
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.arrow-down {
  height: 0;
  width: 0;
  margin: auto;
  border-top: 5px solid #555;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.tool-tip .arrow-down {
  margin-left: 43%;
}

.thumbnail {
  height: 100px;
  width: 100px;
}

.post-image {
  max-width: 90%;
  display: block;
  margin: 0 5%;;
}

.comment-button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
  margin-top: 16px;
}

.comment-icon {
  padding: 5px;
}

.comment-icon .comment-icon-box {
  height: 10px;
  width: 16px;
  border-radius: 3px;
  background-color: #555;
}

.comment-button p {
  display: inline;
  font-size: 12px;
  color: #555;
  font-weight: bold;
  margin: 0;
  padding-right: 5px;
}

.comment-button .arrow-down {
  border-width: 3px;
}

.comment-button.hover-enabled:hover {
  background-color: var(--reddit-light-grey);
  cursor: pointer;
}

.comment-button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
  margin-top: 16px;
}

.voter {
  padding: 5px 5px 5px 5px;
}

.upvote-icon {
  width: max-content;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
}

.upvote-icon .upvote-icon-box {
  height: 12px;
  width: 6px;
  margin: auto;
  border-radius: 0 0 3px 3px;
  background-color: #555;
}
.upvote-icon .arrow-up {
  height: 0;
  width: 0;
  margin: auto;
  border-bottom: 10px solid #555;
  border-left:  10px solid transparent;
  border-right: 10px solid transparent;
}

.upvote-icon.hover-enabled:hover {
  background-color: var(--reddit-light-grey);
  cursor: pointer;
}

.upvote-icon.hover-enabled:hover .arrow-up {
  border-bottom-color: var(--reddit-orange);
}

.upvote-icon.hover-enabled:hover .upvote-icon-box {
  background-color: var(--reddit-orange);
}


.voter p {
  width: 100%;
  display: block;
  font-size: 14px;
  color: #555;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

#loading-placeholder {
  height: 30px;
}

#posts-depleted-placeholder {
  margin: auto;
}

.switch-posts {
  margin-right: 10px;
}

#to-top-button {
  position: fixed;
  bottom: 20px;
  min-width: 109px;
}
