/* base styles, feel free to edit */
:root {
  --reddit-blue: #0079D3;
  --reddit-blue-lighter: #4CA7ED;
  --reddit-orange: #FF5700;
  --reddit-grey: rgba(0, 0, 0, 0.0975);
  --reddit-light-grey:  rgba(0, 0, 0, 0.041);
  --reddit-bg-color: #f1f1f7;
  --body-text-size: 12px;
  --alt-text-color:  rgba(0, 0, 0, 0.65);
  --disabled-input: #ddd;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--reddit-bg-color);
  font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.alt-text {
  color: var(--alt-text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 50px;
  border-bottom: 1px solid var(--reddit-grey);
}

#logo {
  color: white;
  font-size: var(--body-text-size);
  width: 40px;
  height: 40px;
  background-color: var(--reddit-orange);
  border-radius: 50%;
}

#search {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
}

#search::placeholder {
  letter-spacing: 0.5px;
  font-size: var(--body-text-size);
}

#search:focus {
  background-color: white;
  border-color: var(--reddit-blue);
}

.button {
  border: 1px solid var(--reddit-blue);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 15px;
  font-weight: bold;
  cursor: pointer;
}

.button-primary {
  background-color: white;
  color: var(--reddit-blue);
}

.button-secondary {
  background-color: var(--reddit-blue);
  color: white;
}

.banner > * {
  margin: 10px 25px;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: auto;
  padding: 5px;
  display: inline;
  list-style-type: none;
}

#feed {
  min-width: 500px;
  max-width: 800px;
  width: 80%;
  margin: auto;
  padding: 20px 0 0 0;
  box-sizing: border-box;
}

.feed-header {
  display: flex;
  justify-content: space-between;
}

.feed-title {
  font-weight: normal;
  margin: 0;
}

/* Add your styles here */

#root {
  height: 100%;
}

#app {
  height: 100%;
  position: relative;
}

#account-buttons {
  display: inline;
}

main {
  box-sizing: border-box;
  height: 100%;
  padding-top: 61px;
}

input {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
}

input::placeholder {
  letter-spacing: 0.5px;
  font-size: var(--body-text-size);
}

input:focus {
  background-color: white;
  border-color: var(--reddit-blue);
}

input:disabled {
  background-color: var(--disabled-input);
  cursor: not-allowed;
}

.button:focus {
  outline: none;
}

.button-primary:hover {
  color: var(--reddit-blue-lighter);
}

.button-secondary:hover {
  background-color: var(--reddit-blue-lighter);
}

.center-content {
  text-align: center;
}

#user-title {
  text-transform: none;
}
