#user-page {
    width: 600px;
    padding: 20px;
    overflow: auto;
}

.user-page-title {
    font-size: 32px;
}

.user-posts-title {
    text-align: left;
}

.stats {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.stat-box {
    border: 2px solid #555;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 10px;
}

.stat-title {
    padding-top: 5px;
    height: 25px;
    border-bottom: 1px solid #555;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: var(--reddit-orange);
    border-radius: 8px 8px 0 0;
}

.stat-info {
    font-size: 32px;
    font-weight: bold;
    background-color: var(--reddit-bg-color);
    padding-top: 10px;
    height: 59px;
    border-radius: 0 0 8px 8px;
}

.user-posts {
    margin: 0;
    padding: 0;
}

.user-posts .voter p {
    padding-left: 3px;
}

.user-posts .post-info {
    text-align: left;
}

.user-posts .post-title {
    text-align: left;
}

#logout {
    margin-left: 20px;
}